Asterisk accepts larger Session-Expires expiration timer from UAS

[RFC 4028 Section 9](https://www.rfc-editor.org/info/rfc4028/#section-9) reads:

> The UAS MUST NOT increase the value of the Session-Expires header field.

If the UAS _does_ increase the value, Asterisk updates its timer. It should not. It should simply ignore the larger value.

Additionally, chan_sip sends the `Session-Expires` header in provisional (1xx) responses which is not specified in the RFC. 



https://github.com/asterisk/asterisk/pull/2105

> [asterisk/asterisk#2105](https://github.com/asterisk/asterisk/pull/2105)

Thanks, happy to incorporate these changes here when they are finalized - you can submit a PR if you like or I can cherry-pick your commits over to this repo.